* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root{
    /* background color */
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: rgb(255, 245, 245);
    --bg-food-color: rgb(255, 136, 0);

    /* text color */
    --text-primary-color: #f0f0f0;

    /* spacing variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* border color */
    --border-primary-color: #333333;

    /* Border radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
    --border-radius-3xl: 28px;

}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,section{
    height: 100%;
    width: 100%;
}

.btn{
    padding: var(--space-sm) var(--border-radius-md);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}

section{
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 4px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    border: 2px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
}

.block{
    /* width: 30px;
    height: 30px; */
    border: 1px solid var(--border-primary-color);
}

.fill{
    background-color: var(--bg-fill-color);
    border-radius: var(--border-radius-md);
}

.food{
    background-color: var(--bg-food-color);
    border-radius: var(--border-radius-md);
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #35353567;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .start-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg)
}

.modal .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
    display: none;
}